@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-launches {
  box-shadow: 6px 6px 27px -6px rgba(211, 212, 216, 0.75);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: height 0.3s ease;
}
